"*":
  core:
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  "daylight-ui":
    layoutMode: "Compact"
  editor:
    fontFamily: "Source Code Pro"
    showIndentGuide: true
    softWrap: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "e6a988cf-a267-17e5-0f14-f92bd69ff6de"
  "git-plus":
    general:
      _analyticsUserId: "399e73bc-a3a4-4369-878a-e97ca56afe3b"
  "markdown-writer":
    fileExtension: ".md"
    siteEngine: "jekyll"
  welcome:
    showOnStartup: false
".coffee.source":
  editor:
    tabLength: 2
".css.less.source":
  editor:
    tabLength: 2
".css.scss.source":
  editor:
    tabLength: 2
".css.source":
  editor:
    tabLength: 2
".dockerfile.source":
  editor:
    tabLength: 4
".erb.html.text":
  editor:
    tabLength: 2
".go.source":
  editor:
    tabType: "hard"
".html.php.text":
  editor:
    tabLength: 4
".html.ruby.text":
  editor:
    tabLength: 2
".js.rails.source source.jquery.js":
  editor:
    tabLength: 2
".js.regexp.replacement.source":
  editor:
    tabLength: 2
".js.regexp.source":
  editor:
    tabLength: 2
".json.source":
  editor:
    tabLength: 2
".rails.rjs.ruby.source":
  editor:
    tabLength: 2
".rails.ruby.source":
  editor:
    tabLength: 2
".ruby.source":
  editor:
    tabLength: 2
".sass.source":
  editor:
    tabLength: 2
".shell-session.text":
  editor:
    tabLength: 2
".shell.source":
  editor:
    tabLength: 2
".source.sql":
  editor:
    tabType: "hard"
".source.yaml":
  editor:
    tabLength: 2
